img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
  }
  body {
    
     background-image: url("/images/stars.jpg");
    background-repeat: no-repeat;
     height: 240vh;
     background-size: 100% 100%; 
    
  }
  
  p {
      font-size: x-large;
      color: white;
  }


  .username {
    font-weight: bold;
  }